<table>
  <tbody>
    <tr>
      <p>This message was sent to <a href="mailto:{{userEmail}}" class="link footer-inline-link"
          target="_blank">{{userEmail}}</a>
      </p>
    </tr>
    <tr>
      <p>You have received this email because you have a <a href="https://verityone.vercel.app"
          target="_blank" class="link footer-inline-link">VerityOne</a> account registered with this
        email address.<br>
        This is system generated email; please do not reply to this message.</p>
    </tr>
    <tr>
      <td>
        Copyright &copy; {{ currentYear }} by VerityOne Technologies LLC. All rights reserved.
      </td>
    </tr>
  </tbody>
</table>