<table role="presentation" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td>
        <img src="../../../../public/logo.png" class="logo logo-light" alt="VerityOne logo">
        <img src="../../../../public/logo-dark.png" class="logo logo-dark" alt="VerityOne logo">
      </td>
    </tr>
  </tbody>
</table>