<div class="main">
  <h1>Email verified!</h1>
  <p>You email has been verified. You're all set to start using VerityOne to contribute towards the
    betterment of you wokrplace environment.</p>
  <p>If you haven't already, you can upload your avatar to make your profile stand out and easier to
    find for your employers:</p>
  <a href="{{url}}" target="_blank" class="btn btn-primary">Update profile</a>
</div>