<div class="main">
  <h1>Hi, {{name}}!</h1>
  <p>Forgot your password? Don't worry. Click the following button to reset your password:</p>
  <a href="{{url}}" target="_blank" class="btn btn-primary">Reset password</a>
  <p style="margin-top: 32px;">NOTE: The password reset token is valid for 15 minutes, starting from
    the time you received this email.<br>
    Please ignore this email if you didn't request a password reset.</p>
</div>