<div class="main">
  <h1>Welcome, {{name}}!</h1>
  <p>We are glad to have you on board! We're excited to provide you with a platform to candidly
    express your opinions, voice your concerns to your organization, and improve your workplace
    environment.</p>
  <p>To get started, please verify your email by clicking the following button:</p>
  <a href="{{url}}" target="_blank" class="btn btn-primary">Verify email</a>
</div>