<div class="main">
  <h1>Welcome, {{name}}!</h1>
  <p>We are glad to have you on board! We're excited to provide you with a platform to gauge the
    prevailing general employee sentiment at your organization, identify any shortcomings or areas
    of employee dissatisfaction, and suggest actions to increase talent retention and reduce hiring
    costs by reducing exits.
  </p>
  <p>To get started, please verify your email by clicking the following button:</p>
  <a href="{{url}}" target="_blank" class="btn btn-primary">Verify email</a>
</div>